<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16E169</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Preview</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>com.apple.application-bundle</string>
				<string>com.apple.package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pdf.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVPDFPageContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pdf-printer-settings</string>
			</array>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pdf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Multilingual PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>PDF</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.localized-pdf-bundle</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVPDFPageContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ps.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVPDFPageContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>eps.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVPDFPageContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ai.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.illustrator.ai-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVPDFPageContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>jpeg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>png.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>tiff.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>RAW.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>RAW</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.camera-raw-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>PBM</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.pbm</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>PVR</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.pvr</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>ASTC</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.astc</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>KTX</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.ktx</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>WEBP</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.webp</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>DDS</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.dds</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>XBM.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xbitmap-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>OPENEXR.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ilm.openexr-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>bmp.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gif.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ico.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>qtif.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>tga.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sgi.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>psd.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pntg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macpaint-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>fpx.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.flashpix-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>fax.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>FAX</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fax</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>icns.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.icns</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>JP2.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>jpeg.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rjpeg</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>RADIANCE.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>RAD</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.radiance</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>MPO.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>MPO</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpo-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVImageContainer</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pict.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.word.dot</string>
				<string>com.microsoft.word.stationery</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.excel.xlt</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.microsoft.powerpoint.pot</string>
				<string>com.microsoft.powerpoint.pps</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.numbers</string>
				<string>com.apple.iwork.numbers.sffnumbers</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.pages.pages</string>
				<string>com.apple.iwork.pages.sffpages</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.keynote.key</string>
				<string>com.apple.keynote.key</string>
				<string>com.apple.iwork.keynote.sffkey</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.wordprocessingml.template</string>
				<string>org.openxmlformats.wordprocessingml.document.macroenabled</string>
				<string>org.openxmlformats.wordprocessingml.template.macroenabled</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.spreadsheetml.template</string>
				<string>org.openxmlformats.spreadsheetml.sheet.macroenabled</string>
				<string>org.openxmlformats.spreadsheetml.template.macroenabled</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>org.openxmlformats.presentationml.template.macroenabled</string>
				<string>org.openxmlformats.presentationml.template</string>
				<string>org.openxmlformats.presentationml.presentation.macroenabled</string>
				<string>org.openxmlformats.presentationml.slideshow</string>
				<string>org.openxmlformats.presentationml.slideshow.macroenabled</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVQuickLookContainer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>dae.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.collada.digital-asset-exchange</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVC3DContainer</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>dae.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3d-content</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVC3DContainer</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Preview</string>
	<key>CFBundleGetInfoString</key>
	<string>9.0, Copyright 2002-2016 Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Preview.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Preview.help</string>
	<key>CFBundleIconFile</key>
	<string>Preview.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Preview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Preview</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0</string>
	<key>CFBundleSignature</key>
	<string>prvw</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>909.17</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8V109d</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E169</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V109d</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PVApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Preview/Open images</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceOpenImage</string>
			<key>NSPortName</key>
			<string>Preview</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSTIFFPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSeamlessOpening</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>com.apple.Preview</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Radiance</string>
			<key>UTTypeIdentifier</key>
			<string>public.radiance</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pic</string>
					<string>PIC</string>
					<string>hdr</string>
					<string>HDR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Bitmap Format</string>
			<key>UTTypeIdentifier</key>
			<string>public.pbm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbm</string>
					<string>pgm</string>
					<string>ppm</string>
					<string>pfm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PVRTC Textures</string>
			<key>UTTypeIdentifier</key>
			<string>public.pvr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pvr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASTC textures</string>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.astc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>astc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KTX textures</string>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.ktx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ktx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google's WebP</string>
			<key>UTTypeIdentifier</key>
			<string>public.webp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DDS textures</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.dds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Printing Settings</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.pdf-printer-settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blank</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.preview.blank</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blank</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
